<div *ngIf="jsonData">

    <h5>All of the events should show below</h5>
    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Time</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of jsonData">
                <td>{{event?.name}}</td>
                <td>{{event?.date}}</td>
                <td>{{event?.time}}</td>
                <td><app-event-address [inputData]="event?.location"></app-event-address></td>
            </tr>
        </tbody>
    </table>
    <!-- <div *ngFor="let event of jsonData">
        <div style="margin-top:30px">
            Event: {{}}
        </div>
        <div>
            Date: {{event.date}}
        </div>
        <div>
            Time: {{event.time}}
        </div>
        <app-event-address [inputData]="event.location"></app-event-address>
    </div> -->
</div>